@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff2);
}

/* ====================================
// css variables
// ==================================== */

:root {
  --font: "Open Sans", sans-serif;
  --font-bold: "Open Sans Bold", sans-serif;
  --black: #000;
  --white: #fff;
  --pink: #c4007a;
}

/* ====================================
// reset rules
// ==================================== */

::selection {
  background-color: var(--pink);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: var(--font);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

/* base ↓ */

main,
header,
footer {
  overflow: hidden;
}

a:hover {
  color: var(--pink);
  cursor: pointer;
}

.title,
.title-content {
  color: var(--black, #000);
  font-family: var(--font-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  margin: 50px 0 20px;
}

h3 {
  padding: 13px 0;
  color: var(--dark, #000);
  font-family: var(--font-bold);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.holder {
  margin-bottom: 33px;
}

.article {
  padding-bottom: 30px;
}

// Tablet
@media (min-width: 768px) {
  .title {
    font-size: 60px;
  }
  .title-content {
    font-size: 20px;
  }
}

// Desktop
@media (min-width: 1440px) {
  .title-content {
    font-size: 22px;
  }
}

/* bootstrap highlighter ↓ */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

/* article ↓ */

.information {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
  padding: 14px 0;

  .information-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    color: rgba(0, 0, 0, 0.38);
    width: 100%;
    padding: 13px 0;

    .line {
      border: solid 0.5px rgba(0, 0, 0, 0.38);
      width: 100%;
    }

    .autor p,
    .date p {
      white-space: nowrap;
    }
  }

  .label {
    background-color: var(--pink);
    padding: 7px;

    span {
      font-family: var(--font-bold);
      color: var(--white);
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      // Tablet
      @media (min-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

.text {
  color: rgba(0, 0, 0, 0.38);

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 13px 0;
}

// Tablet
@media (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}

.l-dark {
  background-color: var(--black);
  border-top: solid 6px var(--pink);

  .text {
    color: rgba(255, 255, 255, 0.8);
  }

  .title-content,
  .title {
    color: var(--white);
  }

  .autor,
  .date {
    color: rgba(255, 255, 255, 0.7);
  }

  .information-detail .line {
    border-color: rgba(255, 255, 255, 0.7);
    width: 100%;
  }
}

// Tablet
@media (min-width: 768px) {
  .l-dark {
    border-top: solid 8px var(--pink);
  }
}

// Desktop
@media (min-width: 1440px) {
  .l-dark {
    border-top: solid 10px var(--pink);
  }
}

/* article category ↓ */

.category {
  .title-content h2 {
    font-size: 24px;
  }
}

/* article popular ↓ */

.popular {
  .article-popular {
    .information {
      align-items: flex-start;
    }
  }

  .number {
    color: var(--pink, #c4007a);
    font-family: var(--font-bold);
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transform: translate(0, -40%);
  }

  .article-popular {
    display: flex;
    flex-direction: column;
  }
  .container-article-popular {
    display: flex;
    flex-direction: column;
  }

  // Tablet
  @media (min-width: 768px) {
    .container-article-popular {
      display: flex;
      flex-direction: row;
    }
  }
}

/* themes ↓ */

.themes {
  .all-themes {
    padding-top: 30px;
  }

  a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.6%; /* 16.872px */
    text-decoration-line: underline;
  }
}
