@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff2);
}

/* ====================================
// css variables
// ==================================== */

:root {
  --font: "Open Sans", sans-serif;
  --font-bold: "Open Sans Bold", sans-serif;
  --black: #000;
  --white: #fff;
  --pink: #c4007a;
  --grey: #999;
}

/* ====================================
// reset rules
// ==================================== */

::selection {
  background-color: var(--pink);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: var(--font);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

/* base ↓ */

main,
header,
footer {
  overflow: hidden;
}

a:hover {
  color: var(--pink);
  cursor: pointer;
}

.title h1,
.title-content h2 {
  color: var(--black, #000);
  font-family: var(--font-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title h1 {
  text-transform: uppercase;
  font-size: 40px;
  margin: 40px 0;
}

h3 {
  padding: 13px 0;
  color: var(--dark, #000);
  font-family: var(--font-bold);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 20px 0;
}

.spotlight,
.popular,
.news,
.themes,
.category {
  padding: 0 12px 60px 12px;

  @media (min-width: 768px) {
    padding: 0 12px 70px 12px;
  }
}

.container-fluid {
  padding: 0;
}

// Tablet
@media (min-width: 768px) {
  .title h1 {
    font-size: 60px;
  }
  .title-content h2 {
    font-size: 24px;
  }
}

// Desktop
@media (min-width: 1440px) {
  .title h1 {
    font-size: 85px;
  }

  .title-content h2 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  h3 {
    font-size: 50px;
  }
}

/* header ↓ */

header {
  background-color: var(--black);
  padding-top: 13px;
  color: var(--white);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .interaction {
    display: flex;
    gap: 8px;
    font-size: 12px;
  }

  .language {
    padding: 2px 7px 2px 0;
    border-radius: 7px;
    border: 0.8px solid var(--white, #fff);
    background: var(--black, #000);

    color: var(--white);
  }

  .language-selected {
    position: relative;
    overflow: hidden;
    padding: 1px 7px;

    color: var(--black);
    border-radius: 7px;
    border: 0.8px solid var(--blanc, #fff);
    background: var(--white, #000);
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    a {
      text-decoration: none;
      color: var(--white, #fff);
      font-family: var(--font-bold);
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 4px 0;

      // Tablet
      @media (min-width: 768px) {
        font-size: 13px;
      }

      // Desktop
      @media (min-width: 1440px) {
        font-size: 16px;
      }
    }

    .link {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .link:first-child {
      border-bottom: solid 5px var(--pink);

      // Desktop
      @media (min-width: 1440px) {
        border-width: 7px;
      }
    }
  }
}

/* bootstrap highlighter ↓ */

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

/* article ↓ */

.article {
  margin-bottom: 20px;
}

.information {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
  padding: 14px 0;
  margin-top: 2%;

  .information-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    color: rgba(0, 0, 0, 0.38);
    width: 100%;
    padding: 13px 0;
  }

  .line {
    border: solid 0.5px rgba(0, 0, 0, 0.38);
    width: 100%;
  }

  p {
    white-space: nowrap;
    font-size: 12px;

    // Tablet
    @media (min-width: 750px) {
      font-size: 14px;
    }

    // Desktop
    @media (min-width: 1400px) {
      font-size: 16px;
    }
  }
}

.information-number {
  align-items: flex-start;
  gap: 30px;
}

.text {
  color: rgba(0, 0, 0, 0.38);

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 13px 0;
}

// Tablet
@media (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}

.l-dark {
  background-color: var(--black);
  border-top: solid 8px var(--pink);

  .text {
    color: rgba(255, 255, 255, 0.8);
  }

  .title-content h2,
  .title h1 {
    color: var(--white);
  }

  .autor,
  .date {
    color: rgba(255, 255, 255, 0.7);
  }

  .information-detail .line {
    border-color: rgba(255, 255, 255, 0.7);
    width: 100%;
  }
}

// Desktop
@media (min-width: 1440px) {
  .l-dark {
    border-top: solid 10px var(--pink);
  }
}

/* label ↓ */

.label {
  background-color: var(--pink);
  padding: 7px;

  // Tablet
  @media (min-width: 768px) {
    padding: 8px 11px;
  }

  span {
    font-family: var(--font-bold);
    color: var(--white);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    // Tablet
    @media (min-width: 768px) {
      font-size: 14px;
    }

    // Desktop
    @media (min-width: 1400px) {
      font-size: 16px;
    }
  }
}

.label-not-selected {
  background-color: var(--grey, #999);
}

/* article category ↓ */

.category {
  .title-content h2 {
    font-size: 24px;
  }

  .category-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-bottom: 20px;
  }

  .article {
    padding-bottom: 30px 0;
  }
}

/* article popular ↓ */

.popular {
  .article {
    padding-bottom: 8%;
  }

  .number {
    color: var(--pink, #c4007a);
    font-family: var(--font-bold);
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transform: translate(0, -20px);
  }
}

/* themes ↓ */

.themes {
  color: var(--grey);

  .all-themes {
    padding-top: 30px;
  }

  a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.6%; /* 16.872px */
    text-decoration-line: underline;
  }
}
